body{
  font-family: 'Open Sans', sans-serif;
  background-color: #011627;
  color: #ffffff;
}
.container{
  margin: 5em 7em;
}
.jumbotron{
  display: flex;
  margin-top: -6em;
}
.intro{
  max-width: 80%;
  font-weight: bold;
}

img{
  width: 11%;
  border-radius: 100%;
  border:3px solid white
}
.icon{
  text-align: right;
}
