html{
  font-size: 16px;
}
body{
  font-family: 'Open Sans', sans-serif;
  background-color: #011627;
  color: #ffffff;
}

.container{
  padding: 2rem;
}

.intro h1, h2 {
  font-size: 2rem;
}
.intro{

}
/*header and intro*/




/*work*/
.projects{
  display: flex;
}
.card{
  background-color: #4D7EA8;
  border: 0.5px solid #000000;
  padding: 2em;
  border-radius: 5px;
}

.card:nth-child(odd) {
  margin-right: 0.5em;
  margin-bottom: 2em;
}

.card:nth-child(even) {
  margin-left: 0.5em;
  margin-bottom: 2em;
}


/*footer*/
.footer{
  text-align: right;
}


/*media queries*/
@media screen and (max-width:750px) {

  .card{
     margin-top: 2em;
  }
  .card h3{
    font-size: 1rem;
  }
  #work-container{
    padding: 0;
  }
  .intro{
    margin-top: 6rem;
    margin-bottom: 6rem;
  }
  .intro h2, h1{
    font-size: 1.5rem;
  }
  .intro span{
    font-size: 1.2rem;
  }
  .work h2{
    font-size: 1.2rem;
  }


}
